<div>
    
    <img src="{{moreDetails.image}}" alt="{{moreDetails.title}}" />
    <p>Title : {{moreDetails.title}}</p> 
    <p>Director : {{moreDetails.director}}</p>
    <p>Stars : {{moreDetails.stars}}</p> 
    <p>Description : {{moreDetails.description}}</p>
    <p>Showtimes : {{moreDetails.showtimes}}</p>		
			
</div>